@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

@layer utilities {
  .flex-row-center {
    @apply flex items-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .font-title-1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .font-title-2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }

  .font-title-3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .font-title-4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  .font-subtitle-1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
  }

  .font-subtitle-2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
  }

  .font-subtitle-3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
  }

  .font-body-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
  }

  .font-body-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .font-body-3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  .font-caption-1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }

  .font-caption-2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
  }

  .font-caption-3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
  }

  .font-btn-1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
  }

  .font-btn-2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
  }

  .font-btn-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
  }

  .font-tag {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
  }
}
